*.log
vendor
data
*.zip
one/one
two/two

bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
bla/bla
some/some
some/some
